<div class="card-container">
  <p>{{ myText | reverse }}</p>
  <div
    *ngFor="let review of reviews"
    class="card"
    [ngStyle]="{
      'background-color': review.rating < 3 ? 'gray' : '',
      color: review.rating < 3 ? 'white' : ''
    }"
  >
    <h2>{{ review.name }}</h2>
    <p appRating [rating]="review.rating"></p>
    <!-- <p>{{ review.comment }}</p>
    <p *ngIf="review.comment === ''" [color]="'red'">No comment</p> -->
    <p [color]="!review.comment ? 'red' : ''">
      {{ review.comment ? review.comment : "No comment" }}
    </p>
    <p>Today's date is {{ currentDate | date }}</p>
  </div>
</div>
